export(fun.chisq.test)
export(cp.fun.chisq.test)
export(cp.chisq.test)
export(test.interactions)
export(add.noise)
export(add.house.noise)
export(add.candle.noise)
export(simulate_tables)
useDynLib(FunChisq)
import(Rcpp)
importFrom("stats", "pnorm", "pchisq", "chisq.test", "runif", "rmultinom")
